.scroll_bar {
  overflow-y: scroll;
  height: 100vh;
}

.scroll_bar::-webkit-scrollbar {
  width: 10px;
}
.scroll_bar::-webkit-scrollbar-track {
  border-radius: 5px;
  background: white;
}
.scroll_bar:hover::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(180, 180, 180);
}

.sidebar {
  min-width: 280px;
  max-width: 320px;
  height: 100vh;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarIcon {
  font-size: 24px !important;
  margin-right: 18px;
  padding-bottom: 3px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}

.sidebarListItem:hover {
  background-color: rgba(190, 190, 190, 0.378);
}

.sidebarListItemText {
  font-size: 16px;
}

.sidebarHr {
  margin: 15px;
  border: 0px;
  height: 1px;
  background-color: rgb(200, 200, 200);
}

.sidebarRegister {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.sidebarRegisterList {
  padding: 0;
  margin: 0;
  list-style: none;
}
